body {
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    display: flex;
    height: 72px;
    background: #1F2937;
    justify-content: space-between;
    padding: 16px;

.header {
    font-family: Roboto, sans-serif;
}
    }

.left-side {
    display: flex;
    padding-left: 100px;
    color: #666;
    font-family: Roboto, sans-serif;
    font-size: 24px, #f9FAF8;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
    font-family: Roboto, sans-serif;
    font-size: 18px, #e5e7eb;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
  }

  a {
    color: #666;
    text-decoration: none;
  }

  /*everything above this is the top of the header */

  .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .title {
    font-size: 48px;
    font-weight: 900, #f9FAF8;
  }